<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.zack.manager.mapper.SysRoleMapper">

        <!--  映射查询到的字段 -->
        <resultMap id="sysRoleMap" type="com.zack.model.enity.system.SysRole" autoMapping="true"></resultMap>

        <!-- 用于select查询公用抽取的列 -->
        <sql id="columns">
        id,role_name,role_code,description,create_time,update_time,is_deleted
        </sql>

        <sql id="findPageWhere">
                <where>
                        <choose>
                                <!-- 当 roleName 为空字符串或仅包含空白字符时，不添加任何关于 roleName 的条件 -->
                                <when test="roleName == null or roleName.trim() == ''">
                                        <!-- 不添加任何条件 -->
                                </when>
                                <!-- 当 roleName 不为空且不仅仅是空白字符时，添加模糊查询条件 -->
                                <otherwise>
                                        and role_name like CONCAT('%', #{roleName}, '%')
                                </otherwise>
                        </choose>
                        and is_deleted = 0
                </where>
        </sql>
        <insert id="saveRole">
            insert into sys_role (id,
                                  role_name,
                                  role_code,
                                  description)
            values (#{id},
                    #{roleName},
                    #{roleCode},
                    #{description})
        </insert>
        <update id="updateSysRole">
                update sys_role set
                        <if test="roleName != null and roleName != ''">
                        role_name = #{roleName},
                        </if>
                        <if test="roleCode != null and roleCode != ''">
                        role_code = #{roleCode},
                        </if>
                        <if test="description != null and description != ''">
                        description = #{description},
                        </if>
                        update_time =  now()
                where
                        id = #{id}
        </update>
        <delete id="deleteById">
            update sys_role
            set is_delete = 1
            where id = #{value}</delete>

        <select id="findByPage" resultMap="sysRoleMap">
        select <include refid="columns" />
        from sys_role
        <include refid="findPageWhere"/>
        order by id desc
        </select>

        </mapper>